<h1><%= @user.name %>さんのページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<div>
  <% if @user.image? %>
    <%= image_tag @user.image.url %>
  <% else %>
    <%= image_tag 'user.icon.png', size: "150x150" %>
  <% end %>
</div>

<div class="btn_user">
<%= link_to "Edit Profile", edit_user_path(@user.id), data:{confirm:'本当に編集してよいですか？'}, class:"btn" %>
<%= link_to "Favorite list", favorites_path, class:"btn" %>
<%= link_to "Blog list", blogs_path, class:"btn" %>
</div>